<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CallxExample</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to camera for video calls</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone for voice calls</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>remote-notification</string>
		<string>background-fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CallxTriggers</key>
	<dict>
		<key>incoming</key>
		<dict>
			<key>field</key>
			<string>type</string>
			<key>value</key>
			<string>call.started</string>
		</dict>
		<key>ended</key>
		<dict>
			<key>field</key>
			<string>type</string>
			<key>value</key>
			<string>call.ended</string>
		</dict>
		<key>missed</key>
		<dict>
			<key>field</key>
			<string>type</string>
			<key>value</key>
			<string>call.missed</string>
		</dict>
		<key>answered_elsewhere</key>
		<dict>
			<key>field</key>
			<string>type</string>
			<key>value</key>
			<string>call.answered_elsewhere</string>
		</dict>
	</dict>
	<key>CallxFields</key>
	<dict>
		<key>callId</key>
		<dict>
			<key>field</key>
			<string>callId</string>
		</dict>
		<key>callerName</key>
		<dict>
			<key>field</key>
			<string>callerName</string>
			<key>fallback</key>
			<string>Unknown Caller</string>
		</dict>
		<key>callerPhone</key>
		<dict>
			<key>field</key>
			<string>callerPhone</string>
			<key>fallback</key>
			<string>No Number</string>
		</dict>
		<key>callerAvatar</key>
		<dict>
			<key>field</key>
			<string>callerAvatar</string>
			<key>fallback</key>
			<string></string>
		</dict>
		<key>hasVideo</key>
		<dict>
			<key>field</key>
			<string>hasVideo</string>
			<key>fallback</key>
			<false/>
		</dict>
	</dict>
	<key>CallxApp</key>
	<dict>
		<key>supportsVideo</key>
		<true/>
		<key>enabledLogPhoneCall</key>
		<true/>
	</dict>
</dict>
</plist>
